#astrotools-ui-container {
	position: fixed;
	z-index: 9999;
	right: 0;
	top: 0;
  background: #ddf;
  opacity: .7;
	width: 15%;
	padding: .5em 2em;
	font-family: 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#astrotools-ui-container:hover {
	opacity:1;
}

#astrotools-client-list {
	list-style: none;
}

#astrotools-client-list img {
	width: 2em;
	height: 2em;
}

#astrotools-ui-container .button-rebroadcast-table {
	display:none;
}

.at-table-row-highlighted {
	background-color: yellow;
}

.at-table-cell-coords {
	text-decoration:underline;
	cursor:pointer;
}
