#astrotools-ui-container {
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 0;
	background-color: cyan;
	width: 15%;
	padding: .5em 2em;
}

#astrotools-client-list {
	list-style: none;
}

#astrotools-client-list img {
	width: 2em;
	height: 2em;
}

#astrotools-ui-container .button-rebroadcast-table {
	display:none;
}

.at-table-row-highlighted {
	background-color: yellow;
}

.at-table-cell-coords {
	text-decoration:underline;
	cursor:pointer;
}
